
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  background-color: #333;
  color: #fff;
}

.container{
  width: 1000px;
  margin: 0 auto;
}

header{
  margin-top: 10px;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border: 3px #fff solid;
}

h1{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
header p{
  margin-bottom: 10px;
}

.nav_list{
  display: flex;
  justify-content: space-between;
}

.nav_item{
margin: 25px 0;
}

.nav_item>a{
  color: #fff;
  text-decoration: none;
}

label{
  color: 	#ACD6FF;
}

.form{
  width: 400px;
  margin: 0 auto 60px;
}

h2{
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin: 60px auto;
}

.form input{
  padding: 12px;
  width: 100%;
  margin-bottom: 18px;
  font-size: 16px;
  border-radius: 5px;
}

.room_type input{
  margin: 0 0 0 5px;
}

.room{
  border: 1px solid #fff;
  margin-bottom: 25px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.roomtitle{
  color: 	#ACD6FF;
}

.room label{
  color: #fff;
}

select{
  padding: 12px;
  width: 100%;
  margin-bottom: 18px;
  color: #888;
  font-size: 16px;
  border-radius: 5px;
}

textarea{
  width: 100%;
  margin-bottom: 18px;
  color: #888;
  font-size: 16px;
  border-radius: 5px;
  resize: none;
}


.btn{
  padding: 12px;
  width: 100%;
  margin-bottom: 18px;
  font-size: 16px;
  border-radius: 5px;
  background: #08c;
  color: #fff;
}

.btn:hover{
  opacity: 0.8;
  cursor: pointer;
}

footer p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 60px;
  color: gray;
}

/*------------------
----- response -----
------------------*/
@media screen and (max-width: 500px){
  .container{
    width: 90%;
  }

  .nav_list{
    display: block;
  }

  header{
    width: 100%;
  }

  header p{
    font-size: 14px;
  }

  .form{
    width: 90%;
    margin: 0 auto 60px;
  }


}

@media screen and (max-width: 1024px){
  .container{
    width: 90%;
    }
}