
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  background: #eeeeee;
}

.container{
  width: 1000px;
  margin: 0 auto;
}

/*----- header -----*/
header{
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

h1{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
header p{
  margin-bottom: 10px;
}

/*----- nav -----*/
.nav_list{
  display: flex;
  justify-content: space-between;
}

.nav_item{
margin: 25px 0;
}

.nav_item>a{
  color: #333;
  text-decoration: none;
}


/*----- main -----*/
h2{
  font-size: 35px;
  font-weight: normal;
}

.link_bar{
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.link_item{
  margin-right: 30px;
}

/*----- section -----*/
section{
  margin-bottom: 20px;
}
h3{
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 20px;
}
.imgbox{
  width: 300px;
}

.imgbox>img{
  width: 100%;
}

.mainbox{
  display: flex;
  flex-wrap: wrap;
}
.mainbox_item{
  margin-right: 20px;
}

table{
  background: #ffeed1;
  width: 600px;
  height: 50px;
}

th{
  border: solid #333;
  padding: 5px 10px;
  width: 150px;
  padding-left: 10px;
  font-weight: bold;
  box-sizing: border-box;
  height: 50px;
}

td{
  border: solid #333;
  padding: 5px 10px;
  /* width: 190px; */
  padding-left: 10px;
  font-weight: bold;
  box-sizing: border-box
}

/*------- foot_nav_list -------*/
.foot_nav_list{
  display: flex;
  justify-content: space-between;
  border-top: 1px #333 solid;
  border-bottom: 1px #333 solid;
}


/*-------- footer -------*/
footer p {
  text-align: center;
  font-size: 14px;
  margin:60px 0 20px 0;
  color: gray;
}



/*-------- response ---------*/

/*------- telephon -------*/
@media screen and (max-width: 500px){
  .container{
    width: 90%;
  }

  .nav_list{
    display: block;
  }

  .foot_nav_list{
    display: block;
  }

  header p{
    font-size: 14px;
  }

 .link_bar{
   display: block;
 }

 .link_item{
  margin-bottom: 10px;
 }

  table{
    width: 300px;
  }

}

/*------- tablet -------*/
@media screen and (max-width: 800px){
  .container{
    width: 90%;
    }

}