
* {
  box-sizing: border-box;
}

body {
  width: 720px;
  margin: 0 auto;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

header{
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

h1{
  font-size: xx-large;
  margin-bottom: 20px;
}
header p{
  margin-bottom: 10px;
}

.nav_list{
  display: flex;
}

.nav_item{
  margin: 25px;
}
/* slider */
#slider{
  width: 720px;
  height: 400px;
  overflow: hidden;
}

#slider .slides{
  display: block;
  width: 7920px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#slider .slide{
  float: left;
  list-style: none;
  width: 720px;
  height: 400px;
}

/* 紹介 */
.text_box{
  line-height: 26px;
}


footer p {
  text-align: center;
  font-size: 14px;
  margin:60px 0 20px 0;
  color: gray;
}