
* {
  box-sizing: border-box;
}


body {
  font-size: 16px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background: #eeeeee;
}

.container{
  width: 1000px;
  margin: 0 auto;
}

/*----- header -----*/
header{
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

h1{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

h1>a{
  color: #fff;
  text-decoration: none;
}

header p{
  margin-bottom: 10px;
}

/*----- nav -----*/
.nav_list{
  display: flex;
  justify-content: space-between;
}

.nav_item{
margin: 25px 0;
}

.nav_item>a{
  color: blue;
  text-decoration: none;
}


/*------- main ------*/
h2{
  font-size: 35px;
  font-weight: normal;
  margin: 30px 0 20px 0;
  border-bottom: 1px #333 solid;
}

h3{
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 20px;
}

.mainbox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mainbox_item{
  margin-right: 20px;
  width: 480px;
}
.mainbox_item>img{
  width: 100%;
}
table{
  background: #ffeed1;
}

th{
  border: solid #333;
  padding: 5px 10px;
  width:  100px;
  padding-left: 10px;
  font-weight: bold;
  box-sizing: border-box;
  height: 50px;
}

td{
  border: solid #333;
  padding: 5px 10px;
  width: 380px;
  padding-left: 10px;
  font-weight: bold;
  box-sizing: border-box
}

.imgbox>img{
  width: 100%;
}

section{
  margin-bottom: 50px;
}


.img_ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img_item{
  width: 320px;
  margin-bottom: 20px;
}

.img_item>img{
  width: 100%;
}


/*------- foot_nav -------*/
.foot_nav_list{
  display: flex;
  justify-content: space-between;
  border-top: 1px #333 solid;
  border-bottom: 1px #333 solid;
}

.top>a{
  text-decoration: none;
  color: blue;
}

/*----- back to top button -----*/
.back-to-top {
  display: none; 
  position: fixed; /* 位置是固定的 */
  bottom: 20px; /* 顯示在頁面底部 */
  right: 30px; /* 顯示在頁面的右邊 */
  z-index: 99; /* 確保不被其他功能覆蓋 */
  border: 1px solid #5cb85c; /* 顯示邊框 */
  outline: none;  /* 不顯示外框 */
  background-color: #fff; /* 設置背景背景顏色 */
  color: #5cb85c; /* 設置文本顏色 */
  cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */
  padding: 10px 15px 15px 15px; /* 增加一些內邊距 */
  border-radius: 10px; /* 增加圓角 */
}
  
.back-to-top:hover {
    background-color: #5cb85c; /* 滑鼠移上去時，反轉顏色 */
    color: #fff;
}

/*-------- footer -------*/
footer p {
  text-align: center;
  font-size: 14px;
  margin:60px 0 20px 0;
  color: gray;
}


/*-------- response ---------*/
/*------- telephone -------*/
@media screen and (max-width: 500px){
  .container{
    width: 90%;
  }

  .nav_list{
    display: block;
  }

  .foot_nav_list{
    display: block;
  }

  header p{
    font-size: 14px;
  }

}/* 削除だめ */


/*-------- response ---------*/
/*------- tablet -------*/
@media screen and (max-width: 800px){
  .container{
    width: 95%;
    }
    
}/* 削除だめ */