
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  background: #eeeeee;
}

.container{
  width: 1000px;
  margin: 0 auto;
}

p{
  line-height: 1.75em;
}

/*-------- header -------*/
header{
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

h1{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

header p{
  margin-bottom: 10px;
}

.nav_list{
  display: flex;
  justify-content: space-between;
}

.nav_item{
margin: 25px 0;
}

.nav_item>a{
  color: #333;
  text-decoration: none;
}


/*------- main ------*/
h2{
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 30px;
}

h3{
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 20px;
}

.mainbox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mainbox_item{
  margin-right: 20px;
  width: 480px;
}
.mainbox_item>img{
  width: 100%;
}
table{
  background: #ffeed1;
}

th{
  border: solid #333;
  padding: 5px 10px;
  width:  100px;
  padding-left: 10px;
  font-weight: bold;
  box-sizing: border-box;
  height: 50px;
}

td{
  border: solid #333;
  padding: 5px 10px;
  width: 380px;
  padding-left: 10px;
  font-weight: bold;
  box-sizing: border-box
}

.imgbox>img{
  width: 100%;
}

section{
  margin-bottom: 50px;
}


.img_ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img_item{
  width: 320px;
  margin-bottom: 20px;
}

.img_item>img{
  width: 100%;
}



/*------- foot_nav -------*/
.foot_nav_list{
  display: flex;
  justify-content: space-between;
  border-top: 1px #333 solid;
  border-bottom: 1px #333 solid;
}


/*-------- footer -------*/
footer p {
  text-align: center;
  font-size: 14px;
  margin:60px 0 20px 0;
  color: gray;
}


/*-------- response ---------*/

/*------- telephone -------*/
@media screen and (max-width: 500px){
  .container{
    width: 90%;
  }

  .nav_list{
    display: block;
  }

  .foot_nav_list{
    display: block;
  }

  header p{
    font-size: 14px;
  }

}

/*------- tablet -------*/
@media screen and (max-width: 800px){
  .container{
    width: 90%;
    }
    
}